# Игнорировать все файлы .log
*.log

# Игнорировать директорию data
/data/

# Игнорировать все файлы .pyc
*.pyc

# Игнорировать скрытые системные файлы macOS
.DS_Store

# Игнорировать все файлы в папке build, кроме README.md
build/*
!build/README.md

# Игнорировать все файлы конфигурации VS Code
.vscode/

# Игнорировать окружение Python
venv/
env/
.env

# Игнорировать все библиотеки и пакеты Python
research/

# Игнорировать бинарные файлы библиотек
*.dylib
*.so
*.dll